@page

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Dashboard</h1>
    <p>Welcome to your dashboard</p>
    <p>You can manage your vaults here</p>
    <p>You can also manage your accounts here</p>
    <p>You can also manage your transactions here</p>
    <p>You can also manage your settings here</p>
    <p>You can also manage your notifications here</p>
</div>
</body>
</html>