@page
@model SafeVault.Views.Shared.NoRole

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>No Role</title>
    <p>You do not have the required role to access this page.</p>
</head>
<body>
<div>
    
</div>
</body>
</html>